<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Angular Material - Starter App</title>
  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
  <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
  <link rel="stylesheet" href="./assets/app.css"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">




<!-- Container #1 (see wireframe) -->
  <md-toolbar layout="row" style="background-color: dodgerblue" class="md-toolbar-tools">


    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
               aria-label="Show User List">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>
      <md-icon md-svg-icon="openday"></md-icon>
      <h2>Open</h2>
      <h2>daylight</h2>
    </h1>


    <md-button>
       Configuration


    </md-button>


    <md-button  button id="mybutton" ng-class="{'active': myvalue, 'notactive': !myvalue}" ng-click="showAlert()">


      <h2 hide-xs> Statistics </h2>
      <md-tooltip hide-sm hide-gt-sm>Stadistics</md-tooltip>
      <md-icon  hide-sm hide-gt-sm md-svg-icon="dashboard"></md-icon>

    </md-button>

    <div class="dropdown">
      <md-button >
        Shard Manager
      </md-button>

      <div class="dropdown-content">
          <md-button button id="mybutton3" ng-click="showAlert2()">Member View</md-button>
          <md-button button id="mybutton2" ng-click="showAlert3()">Shard View</md-button>
      </div>

    </div>


    <md-button>
      Internals
    </md-button>

    <md-button style="padding-left:600px" >
      <md-icon md-svg-src="search"></md-icon>
      <input ng-model="searchbox" type="text" placeholder="Search" class="searchbox">
      <span flex></span>
    </md-button>






  </md-toolbar>

  <!-- Container #2 -->
  <div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()">
      <!-- Custom UsersList component -->

      <md-button>
        <md-icon md-svg-icon="topology"></md-icon>
        Topology
      </md-button>
      <md-button>
        <md-icon md-svg-icon="inventory"></md-icon>
        Inventory
      </md-button>
      <md-button>
        <md-icon md-svg-icon="yang"></md-icon>
        YANGMAN
      </md-button>
      <md-button>
        <md-icon md-svg-icon="cluster"></md-icon>
        Cluster
      </md-button>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex id="content">

      <div class=" h100" flex layout-fill ng-show="myvalue" class="ng-cloak" >

      <form name="settingsForm" >


        <div layout="column">



              </md-card-content>
            </md-card>
            <md-card md-theme="default" md-theme-watch ng-show="node3" flex="30"  >
              <div layout="row" >
                <md-button class="md-icon-button md-primary" ng-click="closenode3()">
                  <md-icon md-svg-icon="close"></md-icon>
                </md-button>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">Node n</span>
                  </md-card-title-text>
                </md-card-title>
              </div>
              <iframe src="http://play.grafana.org/dashboard/db/elasticsearch-metrics?from=1473264951032&to=1473268551032" width="650" height="300" frameborder="0"></iframe>
              <md-card-content flex>


              </md-card-content>
            </md-card>


          </div>


      </form>


    </div>






      <div class=" h100" flex layout-fill ng-show="myvalue2" class="ng-cloak" >

        <form name="settingsForm" >

          <div layout="column">

            <div layout="row" layout-fill>

              <div layout="column" class="note" >


                <h1 align="center"> Member1 </h1>

                <md-card md-theme="default" md-theme-watch flex>
                  <md-card-title >
                    <md-card-title-text >
                      <span  > "member-name": "member-1",
        "member-address": "172.17.0.4",
        "local-shards": [
          "member-3-shard-toaster-operational",
          "member-3-shard-inventory-operational",
          "member-3-shard-default-operational",
          "member-3-shard-topology-operational",
          "member-3-shard-entity-ownership-operational"
        ],
        "voter": true</span>

                    </md-card-title-text>
                  </md-card-title>

                </md-card>



              </div>

              <div layout="column" class="note">
                <h1 align="center"> Member 2 </h1>


                <md-card md-theme="default" md-theme-watch flex >
                  <md-card-title>
                    <md-card-title-text>
                      <span class="note"> "member-name": "member-2",
        "member-address": "172.17.0.4",
        "local-shards": [
          "member-3-shard-toaster-operational",
          "member-3-shard-inventory-operational",
          "member-3-shard-default-operational",
          "member-3-shard-topology-operational",
          "member-3-shard-entity-ownership-operational"
        ],
        "voter": true</span>

                    </md-card-title-text>
                  </md-card-title>

                </md-card>





              </div>

              <div layout="column" class="note">
                <h1 align="center"> Member 3 </h1>


                <md-card md-theme="default" md-theme-watch flex >
                <md-card-title>
                  <md-card-title-text>
                    <span > "member-name": "member-3",
        "member-address": "172.17.0.4",
        "local-shards": [
          "member-3-shard-toaster-operational",
          "member-3-shard-inventory-operational",
          "member-3-shard-default-operational",
          "member-3-shard-topology-operational",
          "member-3-shard-entity-ownership-operational"
        ],
        "voter": true</span>

                  </md-card-title-text>
                </md-card-title>

              </md-card>



            </div>


            </div>


            <div layout="row" layout-fill flex>
              <div class="footer-filler"></div>
            </div>
          </div>


        </form>


      </div>

















      <div class=" h100" flex layout-fill ng-show="myvalue3" class="ng-cloak" >

        <form name="settingsForm" >

          <div layout="column">

            <div layout="row">
            <select style="width: 20%" name="singleSelect" ng-model="data.singleSelect">

              <option value="option-1"> shard-no-problems </option>
              <option value="option-2"> shard-problems </option>
            </select>



              </div>
            <div layout="row" layout-fill>

              <div layout="column" class="note" >


                <h5 align="center">  </h5>



                <md-card md-theme="default" md-theme-watch flex>
                  <md-card-title >
                    <md-card-title-text >
                      <span  > Shard Inventory</span>

                      <i class="material-icons md-green md-48" ng-show="data.singleSelect == 'option-1'">done</i>
                      <i class="material-icons md-red md-48" ng-show="data.singleSelect == 'option-2'">report_problem</i>

                      <label class="switch">
                        <input type="checkbox" ng-click="goToProblems()" >
                        <div class="slider round"></div>
                      </label>

                    </md-card-title-text>
                  </md-card-title>

                </md-card>

                <md-card md-theme="default" md-theme-watch ng-show="problems && (data.singleSelect == 'option-1' || data.singleSelect == 'option-2')" flex >
                  <md-card-title>
                    <md-card-title-text>
                      <i class="material-icons md-green md-13" style="padding-left: 100px" ng-show="data.singleSelect == 'option-1'">done</i>
                      <i class="material-icons md-red md-13" style="padding-left: 100px" ng-show="data.singleSelect == 'option-2'">report_problem</i>
                      <span ng-show="data.singleSelect == 'option-1'" > All Good</span>
                      <span ng-show="data.singleSelect == 'option-2'" > Some problems</span>

                      <span ng-show="data.singleSelect == 'option-2'" >  Pendig-tx-queue-size</span>
                      <span ng-show="data.singleSelect == 'option-2'" > time-since-last activity</span>
                      <span ng-show="data.singleSelect == 'option-2'" > Some problems</span>
                    </md-card-title-text>
                  </md-card-title>

                </md-card>





              </div>

              <div layout="column" class="note">
                <h1 align="center"> Leader </h1>


                <md-card md-theme="default" md-theme-watch flex >
                  <md-card-title>
                    <md-card-title-text>
                      <span class="note"> Shard: Inventory</span>
                      <span class="note"> Member 1</span>

                    </md-card-title-text>
                  </md-card-title>

                </md-card>



                <md-radio-group style="padding-left: 10px" ng-model="false" ng-show="problems &&  data.singleSelect == 'option-1' ">
                  <md-radio-button value="Apple">Pending-tx-queue-size</md-radio-button>
                  <md-radio-button value="Banana"> Timestamp </md-radio-button>
                  <md-radio-button value="Mango">last-applied</md-radio-button>
                  <md-radio-button value="Mango">last-index</md-radio-button>
                  <md-radio-button value="Mango">commit-index</md-radio-button>
                  <md-radio-button value="Mango">replicated to all index</md-radio-button>
                </md-radio-group>

                <md-radio-group style="padding-left: 10px" ng-model="false" ng-show="problems &&  data.singleSelect == 'option-2' ">
                  <md-radio-button  ng-class="{'md-checked':true }" value="Apple">Pending-tx-queue-size</md-radio-button>
                  <md-radio-button value="Banana"> Timestamp </md-radio-button>
                  <md-radio-button value="Mango">last-applied</md-radio-button>
                  <md-radio-button value="Mango">last-index</md-radio-button>
                  <md-radio-button value="Mango">commit-index</md-radio-button>
                  <md-radio-button value="Mango">replicated to all index</md-radio-button>
                </md-radio-group>


              </div>

              <div layout="column" class="note">
                <h1 align="center"> Follower </h1>


                <md-card md-theme="default" md-theme-watch flex >
                  <md-card-title>
                    <md-card-title-text>
                      <span class="note"> Shard: Inventory</span>
                      <span class="note"> Member 2</span>
                    </md-card-title-text>
                  </md-card-title>

                </md-card>

                <md-radio-group style="padding-left: 10px" ng-model="false" ng-show="problems &&  data.singleSelect == 'option-1' ">
                  <md-radio-button value="Apple">Time-since-last activity</md-radio-button>
                  <md-radio-button value="Banana"> match-index </md-radio-button>

                </md-radio-group>

                <md-radio-group style="padding-left: 10px" ng-model="false" ng-show="problems &&  data.singleSelect == 'option-2' ">
                  <md-radio-button  ng-class="{'md-checked':true }" value="Apple">Time-since-last activity</md-radio-button>
                  <md-radio-button value="Banana"> match-index </md-radio-button>

                </md-radio-group>


              </div>

              <div layout="column" class="note">
                <h1 align="center"> Follower </h1>


                <md-card md-theme="default" md-theme-watch flex >
                  <md-card-title>
                    <md-card-title-text>
                      <span class="note"> Shard: Inventory</span>
                      <span class="note"> Member 3</span>
                    </md-card-title-text>
                  </md-card-title>

                </md-card>

                <md-radio-group style="padding-left: 10px" ng-model="false" ng-show="problems &&  data.singleSelect == 'option-1' ">
                  <md-radio-button value="Apple">Time-since-last activity</md-radio-button>
                  <md-radio-button value="Banana"> match-index </md-radio-button>

                </md-radio-group>

                <md-radio-group style="padding-left: 10px" ng-model="false" ng-show="problems &&  data.singleSelect == 'option-2' ">
                  <md-radio-button  ng-class="{'md-checked':true }" value="Apple">Time-since-last activity</md-radio-button>
                  <md-radio-button value="Banana"> match-index </md-radio-button>

                </md-radio-group>

              </div>
            </div>


            <div layout="row" layout-fill flex>
              <div class="footer-filler"></div>
            </div>
          </div>


        </form>


      </div>













    </md-content>

  </div>

  <script src="./jspm_packages/system.js" type="text/javascript"></script>
  <script src="config.js" type="text/javascript"></script>
  <script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch( console.error.bind(console) ); // make sure any errors print to console
  </script>
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="src/path.js"></script>
</body>
</html>
